html {
  box-sizing: border-box;
  transition: all 0.6s ease 0.1s;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  transition: inherit;
}

:root {
  --black: #24292e;
  --white: #fff;
  --mwidth: 350px;
}

::-webkit-scrollbar {
  width: 8px;
  background: silver;
}

::-webkit-scrollbar-thumb {
  background: var(--black);
  border-radius: 10px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: var(--white);
}

body {
  min-width: var(--mwidth);
  padding-bottom: 90px;
}

.nav {
  height: 62px;
  color: var(--white);
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  font-weight: bold;
}

.nav-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav img.user {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.nav a {
  color: var(--white);
  padding: 0 8px;
  text-decoration: none;
}

.nav-section.no-mobile {
  display: none;
}

.search {
  background-color: transparent;
  padding: 8px;
  outline: none;
  border: 1px solid var(--white);
  border-radius: 8px;
}

.search:focus {
  width: 300px;
  background: var(--white);
}

.notification {
  position: relative;
}

.notification::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  background: linear-gradient(#54a3ff, #006eed);
  top: -1px;
  left: 19px;
  border-radius: 50%;
  z-index: 3;
}

.main {
  color: var(--black);
  display: flex;
  margin: auto;
  max-width: 1100px;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.profile {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.p-section a,
.p-section li {
  text-decoration: none;
  padding: 10px 0;
}

.p-section {
  display: flex;
  flex-flow: row wrap;
}

.p-section li {
  display: inline-block;
}

.p-section a {
  padding: 8px 15px;
}

.rep-info {
  padding: 5vw;
}

.repo {
  position: relative;
}

.repo::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #f9826c;
  bottom: 2px;
  left: 0;
}

.rep-search input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid silver;
}

.rep {
  margin-bottom: 30px;
  padding: 8px;
}

.rep .first,
.rep .second {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  padding: 10px 0;
}

.rep .first {
  justify-content: space-between;
}

.rep .second span {
  padding: 3px;
}

.rep .second span:nth-child(2n) {
  padding-right: 20px;
}

.rep a {
  color: #0366d6;
}

.rep .first a {
  text-decoration: none;
  font-weight: bold;
}

.rep .color {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.btn {
  padding: 3px 12px;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  border-color: rgb(27 31 35 / 15%);
  background-color: #fafbfc;
  cursor: pointer;
  border-radius: 8px;
}

.divider {
  border: 1px solid #c0c0c069;
}

.btn img {
  padding: 0 6px;
}

@media (min-width: 740px) {
  .nav-menu {
    display: none;
  }

  .nav-section.no-mobile {
    display: flex;
  }

  .profile {
    height: 280px;
    width: 280px;
  }
}
